:root {
  --button-color: #3470ff;
  --button-active: #0b44cd;

  --header: #363945;
  --font-family: "Manrope", sans-serif;
  --text-color: #121417;
  --text-grey: rgba(18, 20, 23, 0.5);

  --white: #fff;
}
