.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
  padding: 100px 35px 35px 35px;
  align-items: center;
}
.laptopWrapper {
  display: flex;
  gap: 18px;
}

.title {
  color: #8a8a89;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  margin-bottom: 8px;
  font-family: Manrope;
}

.mileageInputs {
  display: flex;
  align-items: center;
}

.mileageInputs input {
  padding: 14px 4px;
  background: #f7f7fb;
  border: none;
  width: 140px;
  height: 48px;
  box-sizing: border-box;
}
.mileageInputs input:first-of-type {
  border-right: 1px solid rgba(138, 138, 137, 0.2);
}

.mileageInputs input:last-of-type {
  border-right: none;
}

input::placeholder {
  color: #121417;
  font-family: Manrope;
  font-size: 18px;
}

.inputFirst {
  border-radius: 14px 0px 0px 14px;
}

.inputSecond {
  border-radius: 0px 14px 14px 0px;
}

.btn {
  padding: 14px 24px;
  background-color: var(--button-color);
  border-radius: 12px;
  border: none;
  color: var(--White, #fff);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
  width: auto;
  height: 48px;
  transition: background-color 0.3s ease;
}

.btn:hover,
.btn:active {
  background-color: var(--button-active);
}

@media screen and (min-width: 1280px) {
  .wrapper {
    flex-direction: row;
    align-items: flex-end;
  }
  .mileageInputs input {
    padding: 14px 24px;
  }
}
